@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  border: 0;
  outline: none;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.btn {
  display: block;
  background: #44414E;
  border: 1px solid #44414E;
}
.btn_search {
  display: inline-block;
  border-radius: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #C4C1CF;
  padding: 14px 22px;
}
.btn:hover {
  cursor: pointer;
  background: #353240;
  border-color: #353240;
  color: #E9E6F2;
}
.btn:hover .btn__icon {
  fill: #E9E6F2;
}
.btn:active {
  cursor: pointer;
  background: #120E20;
  border-color: #FF005C;
  color: #FF005C;
}
.btn:active .btn__icon {
  fill: #FF005C;
}
.btn_back {
  position: fixed;
  width: 64px;
  height: 64px;
  z-index: 1000;
  background: #44414E;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 32px;
  left: 32px;
}
.btn_search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #84818E;
  border-radius: 55px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn__icon {
  width: 15px;
  fill: #C4C1CF;
}
.btn__icon_search {
  width: 24px;
}
.cocktail-card {
  width: 100%;
  min-width: 256px;
  max-width: 384px;
  border-radius: 32px;
  overflow: hidden;
  margin: 14px 16px;
  height: 425px;
}
.cocktail-card__inner {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  height: 100%;
  margin-top: -425px;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, rgba(14, 13, 19, 0.9) 89.58%);
}
.cocktail-card__alcohol-sticker {
  width: 80px;
  height: 80px;
  background: #0E0D13;
  border-radius: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #C4C1CF;
  margin-top: -6px;
  margin-left: -14px;
  text-align: right;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cocktail-card__alcohol-present {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

@media screen and (min-width: 608px) {
  .cocktail-card {
    width: calc(50% - 32px);
  }
}
@media screen and (min-width: 898px) {
  .cocktail-card {
    width: calc(33.3333333333% - 32px);
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card {
    width: calc(25% - 32px);
    max-width: 336px;
  }
}
.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -14px -16px;
  list-style: none;
}
@media screen and (min-width: 608px) {
  .cocktail-list {
    justify-content: start;
  }
}
.container-detail {
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0E0D13;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 24px 32px;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .footer {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}
.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 142px;
  padding: 32px;
  padding-bottom: 0;
  background: #201F2E;
  z-index: 1000;
}
.header::after {
  content: "";
  top: 142px;
  left: 0;
  position: absolute;
  width: 100%;
  display: block;
  height: 64px;
  background: linear-gradient(180deg, #201F2E 0%, rgba(32, 31, 46, 0) 100%);
}
.header_detail {
  align-items: center;
  padding: 0;
  z-index: -1;
  height: 352px;
}
.header_detail::after {
  display: none;
}
@media screen and (min-width: 627px) {
  .header_detail {
    height: 576px;
  }
}
@media screen and (min-width: 1025px) {
  .header_detail {
    height: 675px;
  }
}
.image {
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
  top: -33px;
  right: 0;
  width: 145.63px;
  height: 172.09px;
  fill: #fff;
}
.main {
  min-height: 100%;
  padding: 194px 32px 128px;
  background: #201F2E;
}
.main_detail {
  margin-top: 352px;
  padding: 32px;
}
@media screen and (min-width: 627px) {
  .main_detail {
    margin-top: 576px;
  }
}
@media screen and (min-width: 1025px) {
  .main_detail {
    margin-top: 675px;
  }
}
.search {
  position: relative;
}
.search__input {
  width: 100%;
  height: 48px;
  background: #44414E;
  border-radius: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 94%;
  color: #84818E;
  padding: 0 18px;
  padding-right: 64px;
}
.search__input::placeholder {
  color: #84818E;
}
.tag {
  display: flex;
  overflow: auto;
  list-style: none;
  margin: auto -32px -20px;
  padding: 0 32px;
  scrollbar-width: none;
  position: relative;
  z-index: 1010;
}
.tag__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #C4C1CF;
  padding: 8px 16px 9px;
  border-radius: 32px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}
.tag__item_active {
  border-color: #C4C1CF;
  color: #FFFFFF;
}
.tag__item:hover {
  cursor: pointer;
  border-color: #C4C1CF;
  transition: border-color 0.3s;
}
.tag::-webkit-scrollbar {
  width: 0;
  padding: 0;
  height: 0;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  color: #C4C1CF;
}
.text_exclusion {
  display: flex;
  width: 100%;
}
.text_exclusion::after {
  content: "......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
  order: 2;
  overflow: hidden;
  margin: 0 5px;
}
.text__exclusion-item {
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
}
.text__exclusion-item:first-child {
  order: 1;
}
.text__exclusion-item:last-child {
  order: 3;
}
.text_no-result {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin-top: 16px;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.title_cocktail {
  letter-spacing: 0.07em;
  margin-top: auto;
}
.title_description {
  font-size: 18px;
  line-height: 21px;
  margin: 32px 0 8px;
}
.title_no-result {
  font-weight: normal;
  letter-spacing: 0.07em;
  text-align: center;
}