.search {
    position: relative;
    &__input {
        width: 100%;
        height: 48px;
        background: #44414E;
        border-radius: 32px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 94%;
        color: #84818E;
        padding: 0 18px;
        padding-right: 64px;
        &::placeholder {
            color: #84818E;
        }
    }
}