.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #C4C1CF;
    &_exclusion {
        display: flex;
        width: 100%;
        &::after {
            content: '......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
            order: 2;
            overflow: hidden;
            margin: 0 5px;
        }
    }
    &__exclusion-item {
        white-space: nowrap;
        font-size: 18px;
        line-height: 21px;
        &:first-child {
            order: 1;
        }
        &:last-child {
            order: 3;
        }
    }
    &_no-result {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.07em;
        color: #FFFFFF;
        margin-top: 16px;
    }
}